body{ 
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.element {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    font-size: .8rem;
    color: black;
    background-color: rgba(169, 169, 255, .4);
    cursor: pointer;
    width: 30%;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 5px black;
}

.element:hover {
    border: 1px dashed black;
}

.element-header {
    padding-top: 2px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
}
.element-header .name {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 90%;
}

.element-header input {
    outline: none;
    width: 100%;
    background: rgba(255, 247, 247, 0.356);
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    line-height: 1.1;
}

.element-header input:hover {
    background: rgba(255, 85, 170, 0.356);
}

.element-header .checkbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .6rem;
    margin: 0px;
    margin-left: 3px;
}

.element-header button {
    border: none;
    background: none;
    border: none;
    right: 5px;
    top: 5px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    
}

.element-header button:hover{
    font-weight: 200;
    text-decoration: underline;
}

.element-header button:active{
    font-weight: 400;
}
.top-panel {
    width: 100%;
    display: flex;
    align-content: center;
}
.button-panel {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.parent { 
    border-radius: 15px;
    border: 3px solid black;
    min-width: 100%;
}

.element-container {
    min-height: 15px;
    background: rgba(204, 150, 255, 0.375);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    border: 1px dotted black;
    border-radius: 10px;
    position: relative;
    padding-bottom: 25px;
    padding-top: 25px;
}

.above {
    background-color: rgba(171, 108, 243, 0.8) !important;
    border: 2px dashed black;
    border-width: 3px !important;
}

.selected {
    border: 2px dashed black;
    background-color: rgba(150, 150, 251, 0.758);
    box-shadow: 1px 4px 15px rgb(255, 14, 247);
}

.panel {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribute {
    display: flex;
    gap: 5px;
}

.attribute input {
    background: none;
    border-bottom: 1px solid black;
    outline: none;

}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}

#addAttribute {
    display: none;
}

.jsonContainer {
    overflow: scroll;
    resize: none;
    outline: none;
}