.element {
    background-color: rgba(169, 169, 255, .4);
    cursor: pointer;
    width: 40%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    position: absolute;
}
.elementInput input {
    width: 100%;
    border-style: none;
    background: none;
    border-bottom: 1px solid black;
    outline: none;
    font-weight: 100;
    
}

.elementInput {
    display: flex;
    justify-content:space-around;
    /* align-items: center; */
    z-index: 100;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: red;
    width: 100%;
}

.element .drop {
    height: 100%;
    width: 100%;
}

.above {
    background-color: rgba(171, 108, 243, 0.8) !important;
    border-width: 3px !important;
}

.selected {
    border: 2px dashed black;
}

.panel {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribute {
    display: flex;
    gap: 5px;
}

.attribute input {
    background: none;
    border-bottom: 1px solid black;
    outline: none;

}

button {
    border: 1px solid black;
    border-radius: 4px;
    padding: 3px;
}

button:hover {
    position:relative;
    border: 2px solid black;
    font-weight: bold;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}

#addAttribute {
    display: none;
}

.jsonContainer {
    overflow: scroll;
    resize: none;
    outline: none;
}